<style>
    .carousel-control 
    {
        color:black;
        background:none !important;

    }
        .carousel-control.left {
            left: 0% !important;
            text-align: left;
        }

        .glyphicon-chevron-left{
            left: 0% !important;
        }
    .carousel-control.right {
        right: 0% !important;
        text-align: right;
    }

    .glyphicon-chevron-right{
        right: 0% !important;
    }
    .carousel-caption {
        background: black;
        opacity: 0.7;
        width: 100%;
        left: 0px;
        bottom: 0px;
        color: white
    }

    .item > img {
        max-height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel{
        
    }

</style>
<div id="myCarousel{{sectionData.id}}" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner" role="listbox">
        
        <div class="item active">
            <img class="scale-1-1" ng-src="http:\\{{sectionData.rootURL}}\images\Medium\{{sectionData.images[0]}}"/>
        </div>

        <div class="item" ng-repeat="image in sectionData.images | limitTo: (1 - sectionData.images.length)">
            <img class="scale-1-1" ng-src="http:\\{{sectionData.rootURL}}\images\Medium\{{image}}"/>
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel{{sectionData.id}}" role="button" data-slide="prev" ng-if="sectionData.images.length>1">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel{{sectionData.id}}" role="button" data-slide="next" ng-if="sectionData.images.length>1">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>