<div class="container-fluid">
    
	<h3 class="sectionHeader" ng-bind="sectionData.dataModel.title"></h3>

	<div ng-repeat="sectionInfo in sectionData.dataModel.detail">
		
		<b ng-bind="sectionInfo.head"></b>
		<p ng-bind="sectionInfo.text"></p>
		
		<ul>
			<li ng-repeat="listItem in sectionInfo.list">
				<i><b ng-bind="listItem.head"></b></i>
				<span ng-bind="listItem.text"></span>
			</li>
		</ul>
		
		<div class="col-lg-8 col-md-10 col-xs-12" ng-if="sectionInfo.table.type=='vertical'">
			<table class="table table-hover">
			
				<tr ng-repeat="rowData in sectionInfo.table.data">
					
					<td><b ng-bind="rowData.name"></b></td>
					
					<td>
						<span ng-bind="rowData.value"></span>
						(<span ng-bind="rowData.unit"></span>)
					</td>
					
				</tr>
			
			</table>
		</div>		
		
		<div class="" ng-if="sectionInfo.table.type=='horizontal'">
			
			<table class="table table-condensed table-responsive" >
				
				<thead>
				
					<tr>
						<td ng-repeat="headerInfo in sectionInfo.table.title track by $index" colspan="{{headerInfo.width}}" class="text-center">
							
							<strong ng-bind="headerInfo.name"></strong>
							
							<table>
							<tr>
								<td ng-repeat="unitInfo in headerInfo.unit"  style="width:100px">
									(<span ng-bind="unitInfo"></span>)
								</td>
							</tr>
							</table>
							
						</td>
					</tr>
														
				</thead>
				
				<tbody>
							
					<tr ng-repeat="rowData in sectionInfo.table.data" class="text-center">
						<td ng-repeat="cellInfo in rowData  track by $index" ng-bind="cellInfo"></td>
					</tr>
					
				</tbody>
				
			</table>
			
		</div>												
	</div>
	
	<div class="col-lg-3 col-md-3 col-xs-6" ng-repeat="image in sectionData.dataModel.image">
		<img class="fit-image scale-1-1" ng-src="/images/Medium/{{image.id}}.jpg"/>
	</div>

	<div ng-repeat="subSection in sectionData.subSectionList" ng-class="setClass(subSection.width)">
        <mng-section data="{{subSection.section}}" language="{{currentLanguage}}" class="subSection"></mng-section>
	</div>					
	
</div>
